@page "/cars/appendhistory"

<h3>AppendHistory</h3>

<div class="container">
    <div class="row">
        <p>
            <EditForm Model="SearchVINInputModel" OnValidSubmit="Search">
                <DataAnnotationsValidator />

                <MatStringField @bind-Value="@SearchVINInputModel.SearchVIN" Label="Enter VIN number..." Outlined="true"></MatStringField>
                <ValidationMessage For="@(() => SearchVINInputModel.SearchVIN)" />

                <MatButton class="btn btn-primary" Type="submit" Raised="true">Search</MatButton>

            </EditForm>
        </p>
        <MatTable Items="@cars" class="mat-elevation-z5" PageSize="9999" ShowPaging="false">
            <MatTableHeader>
                <th style="width:20%">VIN</th>
                <th style="width:35%">Make</th>
                <th style="width:35%">Model</th>
                <th style="width:10%">Actions</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.VIN</td>
                <td>@context.Make</td>
                <td>@context.Model</td>
                <td><MatButton Outlined="true" TrailingIcon="edit" @onclick="()=>Update(context)">Edit</MatButton></td>
            </MatTableRow>
        </MatTable>
    </div>
    <div class="row">
        <MatStringField Disabled="true" @bind-Value="@EditingVIN" Outlined="true"></MatStringField>

        <MatTable Items="@history" class="mat-elevation-z5" PageSize="9999" ShowPaging="false">
            <MatTableHeader>
                <th style="width:15%">Type</th>
                <th style="width:25%">Date</th>
                <th style="width:60%">Description</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.Type</td>
                <td>@context.Date</td>
                <td>@context.Description</td>
            </MatTableRow>
        </MatTable>
    </div>
    @if (EditingVIN.Equals("VIN: Empty") == false)
    {
        <div class="row">
            <EditForm Model="AppendHistoryInputModel" OnValidSubmit="Insert">
                <DataAnnotationsValidator />

            <MatSelectValue @bind-Value="@AppendHistoryInputModel.Type" Items="@typeItems" ValueSelector=@(i=>i.ToString())></MatSelectValue>\
            <ValidationMessage For="@(() => AppendHistoryInputModel.Type)" />

            <MatStringField @bind-Value="@AppendHistoryInputModel.Description" Label="Description"></MatStringField>
            <ValidationMessage For="@(() => AppendHistoryInputModel.Description)" />

            <MatButton class="btn btn-primary" Type="submit" Raised="true">Save</MatButton>

            </EditForm>
        </div>
    }
</div>
